.Card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px auto;
  background-color: white;
  margin-left: 20px;
}

.CardImage {
  width: 300px;
  height: 300px;
}

.CardText {
  padding: 16px;
  font-size: 18px;
  color: #333;
}
